<% if (title == 'About me'){ %>
    
    <div style="text-align:center">
        <h1> Welcome to the about me page</h1>
        <h4>My legal name is Alisha Chaggar, I am someone that likes learning and obtaining new skills. I am respectful, outgoing, and a team player </h4>
        <h5>My resume and cover letter</h5>

        <!---Resume-->
        <iframe src="Assets/images/Alley-Co-op Resume and cover letter 81573 - Systems Administrator.pdf" width="50%" height="500px">
        </iframe>

    </div>
    
    
    <%} %> 