<% if (title =='Projects'){ %>
    
    <div style="text-align:center">
        <h1> Welcome to the projects page</h1>
        <h4>These are my projects I've worked on!</h4>

    <!--Table to show my projects-->
        <table class="table" style="border: 2px">
            <thead>
              <tr>
                <th scope="col">Class</th>
                <th scope="col">Name of project and description</th>  
                <th scope="col">Display</th>               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Software Requirements engng </th>
                <td scope="row">SRS Dcumentaion <p><br>- I had to work in a group to create a SRS document. <br> My role was to create many of the models and use cases shown in the display</p></td>
                <td> <iframe src="Assets\images\SRS document.pdf" width="500" height="300">
                </iframe></td>
                
              </tr>
              <tr class="bg-dark" style="color:white ;">
                <th>Intro to Database</th>
                <td scope="row">E-Commerce Database Project <p><br>- I had to create a database script, <br> which made me implement tables for an e-commerce database</p></td>
                <td><img src="Assets/images/pro1.jpg" alt="database" width="500" height="300" ></td>
                
              </tr>
              <tr>
                <th colspan="1">Programming II </th>
                <td scope="row">Windows Forms Application <p><br>- I had to create a windows application. <br> I used C#, and xaml in Visual Studio</p></td>
                <td><img src="Assets/images/forms1.jpg" alt="form" width="500" height="300"> <img src="Assets/images/forms2.jpg" alt="form" width="500" height="300"></td>                 
              </tr>
            </tbody>
          </table>       
    </div>    
<%} %> 

