 
    <nav class="navbar absolute-bottom bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color:white;">&copy All rights are reserved by Alley Chaggar</a>
       </div>
       </nav>