<% if (title =='Home'){ %>
    
<div style="text-align:center">
    <h1 > Welcome to the home page</h1>

    <h4>Hello! I'm Alley and my mission is to explore the vast world of tecnnology and learn as much as I can. </h4>
    <img class="images" src="Assets/images/learning.jpg" alt="learning" width="200" height="200">
    <img class="images" src="Assets/images/Explore.jpg" alt="learning"  width="200" height="200"> 

    <a href="/about">
        <button type="button" class="bg-dark" value="homepage" style="color: White;">Go to about page</button>
        </a>
   
</div>

<%} %> 