<% if (title == 'Services'){ %>
    
    <div style="text-align:center">
        <h1> Welcome to the services page</h1>
        <h4> Some services that I provide are</h4>

    <ul>
        <li> Programming in C# </li>
        <img src="Assets\images\programming.jpg" alt="programming" width="200" height="100">
        <li> Problem solving</li>
        <img src="Assets\images\Solving.png" alt="solving" width="200" height="100">
        <li> Listening </li>
        <img src="Assets\images\listening.jpg" alt="listening" width="200" height="100">
        <li> Database scripting </script></li>
        <img src="Assets\images\Database.png" alt="database" width="200" height="100">
        </ul>
    </div>
<%} %> 