/* Custom css go hereeee */

/*File name: Assignment1
Student’s Name: Alley Chaggar
StudentID: 301194572 
Date: 2022-09-29*/

body{
    font-family: fantasy;
    font-size: large;
}

.bg-dark {
    
    background-color: green;  
}